/*paleta
color: #00b842; verde oscuro
color: #6AE83A; verde claro
color: #ffe71a; amarillo
*/
.txt-ver6ae8 {
	color: #00b842;
}
.txt-amaffe7 {
	color: #ffe71a;
}


/*paleta 2
color: #C8F57A; verde claro
color: #68BDEA; azul claro
color: #014c45; azul oscuro
*/
.txt-verc8f5 {
	color: #A6E637;
}
.txt-azul68bd {
	color: #68BDEA; 
}
.txt-azul014c {
	color: #014c45;
}
.bg-verc8f5 {
	background-color: #A6E637;
}
.bg-azul68bd {
	background-color: #68BDEA; 
}
.bg-azul014c {
	background-color: #68BDEA;
}
/*navegador*/
nav {
	/*font-family: 'Roboto', sans-serif !important;*/
	right: 15px !important;
	left: 15px !important;
	border-bottom: none !important;
	background-color: rgba(0,0,0,.8) !important;
	padding-left: 20px;
	padding-right: 20px;
	
}
/*.navbar-default {
	background-color: rgb(36,176,103) !important;	
}*/
nav a:hover{
	color: #A6E637 !important;
	font-size: 2.5em;
}

h1 {
	
	font-family: 'Raleway', sans-serif !important;
	font-size: 16rem !important;

	/*
	font-family: 'Anton', sans-serif;
	font-family: 'Raleway', sans-serif;
	font-family: 'Russo One', sans-serif;
	font-family: 'Bungee Shade', cursive;
	*/
}
.mg-nav {
	margin-top: 47px;
}
.tituloss {
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-duration: 5s;
	animation-duration: 5s;

}
.circulo200 {
	width: 160px;
	height: 160px;
	border-radius: 100%;
	background-color: rgba(104,189,234,0.7);
	margin: auto;
	padding-top: 13%;
	color: rgb(41, 40, 39);
}

/*fondos*/
.bg-banner-inicio {
	background-image: url("../img/inicio.jpg");
	
}
.bg-banner-sobremi {
	background-image: url("../img/sobremi.jpg");
	
	background-position: center top !important;
}
.bg-banner-portafolio {
	background-image: url("../img/portafolio.jpg");
	
}
.bg-banner-colaboremos {
	background-image: url("../img/colaboremos.jpg");
	
}
.bg-banner-contáctame {
	background-image: url("../img/contactame.jpg");
	
}
/*plugins*/
.mPopup{
        /* popup css code */
        width: 60%;
        height: 300px;
    }
/*MEDIA QUERIES*/
@media (max-width: 250px) { 
	.tituloss {
		font-size: 22px;
	}
	.seccion i {
		font-size: 22px;
		margin-bottom: 2px;
	}
	.seccion{
		padding: 2px;
	}
	.circulo200 {
		width: 100px;
		height: 100px;
		margin-top: 10px;
		padding-top: 20%;
	}
	.circulo200>h2 {
		font-size: 1.5rem;
	}
	#contactame h3 {
		font-size: 1.7rem;	
	}

}
@media (min-width: 251px) and (max-width: 768px){ 

}









