body {
font-family: 'Ubuntu', sans-serif !important;
}
.txt-ver68ea99 {
	color: #68ea99;
} /*104,234,153*/
.txt-azul68bd {
	color: #68BDEA; 
}
.bg-azul68bd {
	background-color: #68BDEA;
}
/*navegador*/
nav {
	/*font-family: 'Roboto', sans-serif !important;*/
/*	right: 15px !important;
	left: 15px !important;*/
	border-bottom: none !important;
	background-color: rgba(0,0,0,.8) !important;
	padding-left: 20px;
	padding-right: 20px;

	
}
nav a:hover{
	color: #68ea99 !important;
	font-size: 2.5em;
}
#logo img:hover{
	background-color: rgba(104,234,153,.5) !important;
	width: 98px;
}
.boton, .botonc {
	color: lightgrey !important;
}
section {
	margin-bottom: 13%;
}
#contactame {
	margin-bottom: 0px !important;
}
section a {
	color:  lightgrey !important;
}
section a:hover{
	text-decoration: none;
	font-size: 1.5em;
	color: #68ea99 !important;
}
a>i:hover{
	color: #68ea99;
}
.seccion h3 {
	margin-top: 0px;
}
/*.mg-nav {
	margin-top: 47px;
}*/
i {
	margin-right: 15px;
}
/*fondos*/
.bg-banner-inicio {
    /* The image used */
    background-image: url("../img/inicio.jpg");

    /* Set a specific height */
    min-height: 650px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-banner-sobremi {
	background-image: url("../img/sobremi.jpg");
	background-position: right top !important;
}
.bg-banner-portafolio {
	background-image: url("../img/portafolio.jpg");
}
.bg-banner-colaboremos {
	background-image: url("../img/colaboremos.jpg");
	background-position: center bottom !important;
}
.bg-banner-contáctame {
	background-image: url("../img/portafolio.jpg");
    min-height: 535px; 
    background-attachment: fixed;
    padding-top: 5%;
}
a:hover {
cursor: pointer;
color: green;
text-decoration:none;
}
/* footer */
.bg-mora {
	background-color: #594081;
}
.nueve {
	padding-right: 12%;
	padding-left: 12%;
}
/*plugins*/

/*MEDIA QUERIES*/
@media (max-width: 250px) { 
	.tituloss {
		font-size: 22px;
	}
	.seccion i {
		font-size: 22px;
		margin-bottom: 2px;
	}
	.seccion{
		padding: 2px;
	}
	.seccion h3 {
		margin-top: 0px;
	}
	h3 {
		font-size: 20px;
	}
	h4 {
		font-size: 15px;
	}
	#inicio {
		padding-top: 100px;
	}
}
@media (min-width: 251px) and (max-width: 350px) { 
	.seccion h3 {
		margin-top: 0px;
	}
	#img-perfil {
		width: 65%;
		margin-bottom: 30px;
		margin-top: 15px;
	}
	h3 {
		font-size: 20px;
	}
	h4 {
		font-size: 15px;
	}
}
@media (min-width: 351px) and (max-width: 768px) { 
	.seccion h3 {
		margin-top: 0px;
	}
	#img-perfil {
		width: 65%;
		margin-bottom: 30px;
		margin-top: 15px;
	}
	h3 {
		font-size: 20px;
	}
	h4 {
		font-size: 15px;
	}

}
@media (min-width: 251px) and (max-width: 768px){ 
	.previa {
		width: 80% !important;
	}
	.nueve {
	padding-right: 6%;
	padding-left: 6%;
	}
	#inicio {
		padding-top: 100px;
	}
	section {
		margin-bottom: 7%;
	}
}
@media (min-width: 769px) and (max-width: 992px) {
	.nueve {
	padding-right: 9%;
	padding-left: 9%;
	}
}